@model NguyenQuocNhut_SachOnline.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3 style="color:red">Bạn có chắc chắn muốn xoá chủ đề này không?</h3>
<div>
    <h4>XOÁ THÔNG TIN KHÁCH HÀNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Họ tên: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Tài khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            Mật khẩu: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Ẹmail:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
           Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
           Ngày sinh:
        </dt>

        <dd>
            @Html.FormatValue(@Model.NgaySinh, "{0:dd/MM/yyyy}")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
